@model Student
@{
    var studentId = Model.Id;
    ViewBag.Title = studentId == null ? "Добавление студента" : "Редактирование информации студента";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h3>@ViewBag.Title</h3>
        @using (Html.BeginForm("EditStudent", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Id, Model.Id)
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })<br />
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Age, new { @class = "control-label" })<br />
                @Html.TextBoxFor(m => m.Age, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(m => m.Age)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.GroupName, new { @class = "control-label" })<br />
                @Html.TextBoxFor(m => m.GroupName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GroupName)
            </div>
            <div class="form-group">
                <input type="submit" value="@(studentId == null ? "Создать" : "Изменить информацию")" class="btn btn-default" />
            </div>
        }
    </div>
</body>
</html>