@using Homework3.Services
@model IEnumerable<Student>
@{
    ViewData["Title"] = "Список студентов";
}

@inject IDataManager Service
@{
    var countStudents = Service.StudentRepository.GetCountStudents();
}


<!DOCTYPE html>
<html>
<head>
    <title>Университет</title>
</head>
<body>
<h3>Студенты: всего @countStudents</h3>
<table class="table">
    <tr>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Группа</th>
        <th>Действия</th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.Name</td>
            <td>@student.Age</td>
            <td>@student.GroupName</td>
            <td>
                <a href="@Url.Action("Details", "Home", new {id = student.Id})">Просмотр</a><br>
                <a href="@Url.Action("EditStudent", "Home", new {id = student.Id})">Редактировать</a><br>
                <a href="@Url.Action("Delete", "Home", new {id = student.Id})">Удалить</a>
            </td>
        </tr>
    }
</table>
<a href="@Url.Action("Create", "Home")">Cоздать студента</a>
</body>
</html>